<%
  var SLOW_RESPONSE = 5000
    , FAST_RESPONSE = 300
    , DOWN_THRESHOLD = 50
    , WARN_MEMORY = 400
    , DATA_KEY = 'status:dashboard:frontier:mem_response'
    , ERROR_KEY = 'status:dashboard:frontier:heroku_errors';
%>
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="/css/dashboard.css">
</head>
<body>
  <table class="dashboard table">
    <thead>
      <th>App Name</th>
      <th>Response Times (ms)</th>
      <th>Requests Served</th>
      <th>5xx Error Codes</th>
      <th>Error Ratio</th>
      <th>Memory Usage</th>
    </thead>
    <%
      // TODO: CLEAN UP THIS CODE & THESE RULES. SHOULD THESE EVEN BE HANDLED HERE? A: NO
      var _rel, _data, _errors, appName, memAvg, codeTotal, codeErr, codeAvg, respTime, status, glyph;
      for (var i=0, l=appData.length; i < l; i++) {
        _rel = appData[i];
        _data = _rel[DATA_KEY];
        _errors = _rel[ERROR_KEY];
        appName = _rel.appName;
        memAvg = parseInt(_data['mem:avg']) || 0;
        codeTotal = parseInt(_data['status:total']) || 0;
        codeErr = parseInt(_data['status:5xx']) || 0;
        codeAvg = (codeTotal && codeErr ? Math.round(10000 * codeErr / codeTotal) / 100 : 0);
        respTime = _data['time:p95'] || 0;

         switch (true) {
          case (codeAvg >= DOWN_THRESHOLD):
            status = 'danger';
            break;
          case (respTime >= SLOW_RESPONSE):
            status = 'warning';
            break;
          default:
            status = '';
            break
        }
    %>
      <tr class="<%- status %>">
        <td><%- appName %></td>
        <td><%- respTime %></td>
        <td><%- codeTotal %></td>
        <td><%- codeErr %></td>
        <td><%- codeAvg %>%</td>
        <td><%- memAvg %></td>
      </tr>
    <% } %>
  </table>
  <table class="table">
    <tr>
      <td><strong>Legend</strong></td>
      <td class="success">This app is in an ideal state</td>
      <td class="">This app is doing alright</td>
      <td class="warning">This app is running slowly</td>
      <td class="danger">This app is down</td>
    </tr>
  </table>
</body>
</html>
