<%
  var SLOW_RESPONSE = 5000
    , FAST_RESPONSE = 300
    , DOWN_THRESHOLD = 50
    , WARN_MEMORY = 400
    , DATA_KEY = 'status:dashboard:frontier:mem_response'
    , ERROR_KEY = 'status:dashboard:frontier:heroku_errors';


  var API_SLOW_RESPONSE = 1000
    , API_DOWN_THRESHOLD = 50
    , STATUS_TO_DISPLAY = {
      'good' : 'success',
      'slow' : 'warning',
      'down' : 'danger'
    };

if (page_type == "api") {
  SLOW_RESPONSE = API_SLOW_RESPONSE;
  DOWN_THRESHOLD = API_DOWN_THRESHOLD;
};

  var error_rate = 0;
  if (current['status:total'] !== '0') {
    error_rate = Math.round(current['status:5xx'] / current['status:total'] * 100);
  }

  switch (true) {
      case (error_rate >= DOWN_THRESHOLD):
        status = 'down';
        break;
      case (current['time:p95'] >= SLOW_RESPONSE):
        status = 'slow';
        break;
      default:
        status = "good"
    }

    glyph = "glyphicon-" + ({
      "good" : "ok-sign",
      "slow" : "warning-sign",
      "down" : "minus-sign"
    }[status] || "question-sign");



%>


<!DOCTYPE html>
<html>
<head>
  <title>FamilySearch Status</title>
  <link rel="stylesheet" href="../vendor/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../vendor/bootstrap/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="../css/dashboard.css">
  <meta name="viewport" content="width=device-width">
  <meta http-equiv="refresh" content="60">
</head>


<!--
  TODO:
  1) Make the Uptime history as part of the header part...


 -->

<body class="detail <%- page_type %>_type">

  <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container">
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="../">Home</a></li>
          <li><a href="../change">Change</a></li>
          <li><a class="refresh" href="#"><span class="glyphicon glyphicon-refresh"></span> Last updated at <span id="updatedTimestamp" data-timestamp="<%- updated %>"></span></a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>

  <div class="container">
    <div class="mast_head section">
      <h1 class="page_title"><%- app_id %> Status</h1>
      <div class="curr_status <%- status %>">
        <span class="glyphicon <%- glyph %>" style="top: 4px;"></span>
        <span style="text-transform: capitalize;"><%- STATUS_TO_DISPLAY[status] %></span>
      </div>
    </div>

    <div class="health section cf">
      <h2 class="section_heading">Current Health</h2>

      <div class="item throughput">
        <span class="title">req / 5 min</span>
        <span class="metric"><%- current['status:total'] %><span class="suffix">req</span></span>
      </div>

      <div class="item resp_time">
        <span class="title">p95 response time</span>
        <% if (parseInt(current['time:p95']) === 0) { %>
        <span class="metric">n/a</span>
        <% } else { %>
        <span class="metric"><%- current['time:p95'] %><span class="suffix">ms</span>
        <% } %>
        </span>
      </div>


      <div class="item error_rate">
        <span class="title">Error rate (5xx / total)</span>
        <span class="metric"><%- error_rate %><span class="suffix">%</span></span>

      </div>

      <div class="item status_count">
        <span class="title">Status codes</span>
        <div class="totals">
          <span>2xx: <%- current['status:2xx'] %></span>
          <span>3xx: <%- current['status:3xx'] %></span>
          <span>4xx: <%- current['status:4xx'] %></span>
          <span>5xx: <%- current['status:5xx'] %></span>
        </div>

      </div>

      <div class="item status_count hide-api">
        <span class="title">Heroku codes</span>
        <div class="totals">

        <% if (typeof heroku_errors == "undefined") heroku_errors = []; %>
        <% for(var k=0; k < heroku_errors.length; k++ ) { %>
          <span title="<%- heroku_errors[k]['code'] %>: <%- heroku_errors[k]['desc'] %>"><%- heroku_errors[k]['code'] %>: <%- heroku_errors[k]['count'] %>  </span>

        <% } %>
        </div>

      </div>

    </div><!-- /.health-->

    <div class="history section">
      <h2 class="section_heading">Uptime History</h2>
      <!-- BUILD IT with fake data first... -->
      <div class="history_timeline cf">
        <% for (var i=0; i < status_history.length; i++) { %>
          <label
            class="label label-<%- STATUS_TO_DISPLAY[status_history[i].status] %>"
            data-day=""
            data-status="<%- status_history[i].status %>"
            data-raw-time="<%- status_history[i].time.raw %>"
            title="Status: <%- status_history[i].status %> @ <%- status_history[i].time.pretty %>"> </label>
        <% } %>
      </div><!-- /.history_timeline -->
    </div><!-- /.history -->

  <!--   <div class="memory section">
      <h2 class="section_heading">Memory History</h2>
      <div class="graph" data-memory-status='<%- JSON.stringify(status_history) %>'></div>
    </div> -->


    <div class="other_apis section hide-api">
      <div class="status-table">
        <h3 class="section_heading">Dependent APIs</h3>
      <%
        if(typeof api_data != "undefined") {

          var dependent_apis = api_data;

          for(var j=0; j < dependent_apis.length; j++) {

            var api_error_rate = dependent_apis["5xx"] / dependent_apis.total;
            api_error_rate = Math.round(api_error_rate * 100);


            switch (true) {
              case (api_error_rate >= API_DOWN_THRESHOLD):
                api_status = 'down';
                break;
              case (dependent_apis.p95 >= API_SLOW_RESPONSE):
                api_status = 'slow';
                break;
              default:
                api_status = "good"
                break
            }

            api_glyph = "glyphicon-" + ({
              "good" : "ok-sign",
              "slow" : "warning-sign",
              "down" : "minus-sign"
            }[api_status] || "question-sign")

      %>
        <a class="app_link btn btn-<%- STATUS_TO_DISPLAY[api_status] %>" href="../api_detail/<%- dependent_apis[j].api %>"><span class="glyphicon <%- api_glyph %>" style="top: 2px;"></span> <%- dependent_apis[j].api %></a>
      <%
        }
      }
      %>
    </div>
  </div>
  <script src="http://code.jquery.com/jquery-2.0.0.min.js"></script>
  <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>
  <script src="../js/utils.js"></script>
  <!-- <script src="http://mbostock.github.com/d3/d3.v2.js"></script> -->
</body>
</html>
