<%
  var SLOW_RESPONSE = 5000
    , FAST_RESPONSE = 300
    , DOWN_THRESHOLD = 50
    , WARN_MEMORY = 400
    , DATA_KEY = 'status:dashboard:frontier:mem_response'
    , ERROR_KEY = 'status:dashboard:frontier:heroku_errors';


  var API_SLOW_RESPONSE = 1000
    , API_DOWN_THRESHOLD = 50;

if (page_type == "api") {
  SLOW_RESPONSE = API_SLOW_RESPONSE;
  DOWN_THRESHOLD = API_DOWN_THRESHOLD;
};

  var error_rate = current['status:5xx'] / current['status:total'];
    error_rate = Math.round(error_rate * 100);


  switch (true) {
      case (error_rate >= DOWN_THRESHOLD):
        status = 'down';
        break;
      case (current['time:p95'] >= SLOW_RESPONSE):
        status = 'slow';
        break;
      default:
        status = "good"
    }

    glyph = "glyphicon-" + ({
      "good" : "ok-sign",
      "slow" : "warning-sign",
      "down" : "minus-sign"
    }[status] || "question-sign");



%>


<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="../vendor/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../vendor/bootstrap/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="../css/dashboard.css">
  <meta http-equiv="refresh" content="60">
</head>


<!--
  TODO:
  1) Make the Uptime history as part of the header part...


 -->

<body class="detail">
  <p><a href="../">Home</a></p>
  <p class="last_updated">Last updated at <span id="updatedTimestamp" data-timestamp="<%- updated %>"></span></p>

  <div class="mast_head section">
    <h1 class="page_title"><%- app_id %> </h1>



    <div class="curr_status <%- status %>">
      <span class="glyphicon <%- glyph %>" style="top: 4px;"></span>
      <span style="text-transform: capitalize;"><%- status %></span>
    </div>


    <!-- <p>Home page</p> -->

  </div>




  <div class="health section cf">
    <h2 class="section_heading">Current Health</h2>

    <div class="item throughput">
      <span class="title">req / 5 min</span>
      <span class="metric"><%- current['status:total'] %><span class="suffix">req</span></span>
    </div>

    <div class="item resp_time">
      <span class="title">p95 response time</span>
      <span class="metric"><%- current['time:p95'] %><span class="suffix">ms</span></span>
    </div>


    <div class="item error_rate">
      <span class="title">Error rate (5xx / total)</span>
      <span class="metric"><%- error_rate %><span class="suffix">%</span></span>

    </div>

    <div class="item status_count">
      <span class="title">Status codes</span>
      <div class="totals">
        <span>2xx: <%- current['status:2xx'] %></span>
        <span>3xx: <%- current['status:3xx'] %></span>
        <span>4xx: <%- current['status:4xx'] %></span>
        <span>5xx: <%- current['status:5xx'] %></span>
      </div>

    </div>

  </div><!-- /.health-->

  <div class="history section">
    <h2 class="section_heading">Uptime History</h2>
    <!-- BUILD IT with fake data first... -->
    <div class="history_timeline cf">
      <% for (var i=0; i < status_history.length; i++) { %>
        <span class="status-<%- status_history[i].status %>" data-day="" data-time-bucket="10:05" title="Status: <%- status_history[i].status %> @ <%- status_history[i].time %> GMT"></span>
      <% } %>

    </div><!-- /.history_timeline -->
  </div><!-- /.history -->

<!--   <div class="memory section">
    <h2 class="section_heading">Memory History</h2>
    <div class="graph" data-memory-status='<%- JSON.stringify(status_history) %>'></div>
  </div> -->


  <div class="other_apis section">
    <h2 class="section_heading">Dependent APIs</h2>

    <table class="status-table">

     <tr>
    <%
      if(typeof api_data != "undefined") {

        var dependent_apis = [api_data[0]];

        for(var j=0; j < dependent_apis.length; j++) {

          var api_error_rate = dependent_apis["5xx"] / dependent_apis.total;
          api_error_rate = Math.round(api_error_rate * 100);


          switch (true) {
            case (api_error_rate >= API_DOWN_THRESHOLD):
              api_status = 'down';
              break;
            case (dependent_apis.p95 >= API_SLOW_RESPONSE):
              api_status = 'slow';
              break;
            default:
              api_status = "good"
              break
          }

          api_glyph = "glyphicon-" + ({
            "good" : "ok-sign",
            "slow" : "warning-sign",
            "down" : "minus-sign"
          }[api_status] || "question-sign")

    %>

    <%  if ( j%3 === 0) { %>
      </tr><tr>
    <% } %>



      <td class="status-<%- api_status %>"><span class="glyphicon <%- api_glyph %>" style="top: 2px;"></span> <a class="app_link" href="../api_detail/<%- dependent_apis[j].api %>"><%- dependent_apis[j].api %></a></td>

    <%
      }
    }
    %>

  </tr>
  </table>


  </div>

  <script src="../js/utils.js"></script>
  <script src="http://mbostock.github.com/d3/d3.v2.js"></script>
</body>
</html>
