<%
  var SLOW_RESPONSE = 5000
    , FAST_RESPONSE = 300
    , DOWN_THRESHOLD = 50
    , WARN_MEMORY = 400
    , MEMORY_KEY = "status:dashboard:frontier:memory_avg"
    , CODE_KEY = "status:dashboard:frontier:response_codes"
    , TIME_KEY = "status:dashboard:frontier:response_times";


  var API_SLOW_RESPONSE = 1000
    , API_DOWN_THRESHOLD = 50
%>

<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="css/dashboard.css">
  <meta http-equiv="refresh" content="60">
</head>


<!--
  TODO:
  1) Make the Uptime history as part of the header part...


 -->

<body class="home">
  <p class="last_updated">Last updated at <span id="updatedTimestamp" data-timestamp="<%- updated %>"></span></p>

  <div class="mast_head section">
    <h1 class="page_title">FamilySearch Status </h1>




    <!-- <p>Home page</p> -->

  </div>

  <div class="legend">
    <span class="item status-good"><span class="glyphicon glyphicon-ok-sign" style="top: 2px;"></span> Good </span>
    <span class="item status-slow"><span class="glyphicon glyphicon-warning-sign" style="top: 2px;"></span> Slow </span>
    <span class="item status-down"><span class="glyphicon glyphicon-minus-sign" style="top: 2px;"></span> Down</span>
    <span class="item status-unknown"><span class="glyphicon glyphicon-question-sign" style="top: 2px;"></span> Unknown </span>
  </div>

  <table class="status-table">
    <th colspan="3">Upstream</th>
    <tr>
     <!--  <td class="status-unknown"><span class="glyphicon glyphicon-question-sign" style="top: 2px;"></span> HA Proxy</td>
      <td class="status-unknown"><span class="glyphicon glyphicon-question-sign" style="top: 2px;"></span> Heroku</td>
      <td class="status-unknown"><span class="glyphicon glyphicon-question-sign" style="top: 2px;"></span> Splunk</td> -->
    </tr>
  </table>

  <table class="status-table">
    <thead>
      <th colspan="3">Frontier</th>
    </thead>
    <tr>
    <%
      // TODO: CLEAN UP THIS CODE & THESE RULES. SHOULD THESE EVEN BE HANDLED HERE? A: NO
      var _rel, appName, memAvg, codeTotal, codeErr, codeAvg, respTime, status, glyph;
      for (var i=0, l=appData.length; i < l; i++) {
        var _rel = appData[i];
        appName = _rel.appName;
        memAvg = _rel[MEMORY_KEY] && parseInt(_rel[MEMORY_KEY].avg) || 0;
        codeTotal = _rel[CODE_KEY] && parseInt(_rel[CODE_KEY].total) || 0;
        codeErr = _rel[CODE_KEY] && parseInt(_rel[CODE_KEY]['5xx']) || 0;
        codeAvg = (codeTotal && codeErr ? Math.round(10000 * codeErr / codeTotal) / 100 : 0);
        respTime = _rel[TIME_KEY] && parseInt(_rel[TIME_KEY].p95) || 0;

        switch (true) {
          case (codeAvg >= DOWN_THRESHOLD):
            status = 'down';
            break;
          case (respTime >= SLOW_RESPONSE):
            status = 'slow';
            break;
          default:
            status = "good"
            break
        }

        glyph = "glyphicon-" + ({
          "good" : "ok-sign",
          "slow" : "warning-sign",
          "down" : "minus-sign"
        }[status] || "question-sign");
    %>
    <%  if ( i%3 === 0) { %>
      </tr><tr>
    <% } %>

      <td class="status-<%- status %>"><span class="glyphicon <%- glyph %>" style="top: 2px;"></span> <a class="app_link" href="detail/<%- appName %>"><%- appName %></a></td>
    <% } %>
    </tr>
  </table>

  <table class="status-table">
    <thead>
      <th colspan="3">APIs</th>
    </thead>
    <tr>
    <%
      for(var j=0; j < apiData.length; j++){

        var api_error_rate = apiData[j]["5xx"] / apiData[j].total;
        api_error_rate = Math.round(api_error_rate * 100);


        switch (true) {
          case (api_error_rate >= API_DOWN_THRESHOLD):
            api_status = 'down';
            break;
          case (apiData[j].p95 >= API_SLOW_RESPONSE):
            api_status = 'slow';
            break;
          default:
            api_status = "good"
            break
        }

        api_glyph = "glyphicon-" + ({
          "good" : "ok-sign",
          "slow" : "warning-sign",
          "down" : "minus-sign"
        }[api_status] || "question-sign")

    %>

    <%  if ( j%3 === 0) { %>
      </tr><tr>
    <% } %>

      <td class="status-<%- api_status %>"><span class="glyphicon <%- api_glyph %>" style="top: 2px;"></span> <a class="app_link" href="api_detail/<%- apiData[j].api %>"><%- apiData[j].api %></a></td>

    <%
      }
    %>

  </tr>
  </table>



  <script src="js/utils.js"></script>
</body>
</html>
