<%
  var slowResponse = 5000
    , fastResponse = 300
    , downErrorAvg = 50
    , warnMemory = 400;
%>
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="/css/dashboard.css">
</head>
<body>
  <table class="dashboard table">
    <thead>
      <th>App Name</th>
      <th>Response Times (ms)</th>
      <th>Requests Served</th>
      <th>5xx Error Codes</th>
      <th>Error Ratio</th>
      <th>Memory Usage</th>
    </thead>
    <%
      var i, l, _rel
      for (appName in appData) {
        _rel = appData[appName];
        avgMemory = _rel.memory && parseInt(_rel.memory.avg) || 0;
        responseCode = _rel.responseCode || {};
        responseAvg = (responseCode['5xx'] && responseCode.total ? Math.round((responseCode['5xx']/responseCode.total) * 10000)/100 : 0);
        responseTime = _rel.responseTime || {};
        status = "";
        switch (true) {
          case (responseAvg >= downErrorAvg):
            status = "danger";
            break;
          case (responseTime.p95 >= slowResponse):
          case (avgMemory >= warnMemory):
            status = "warning";
            break;
          case (responseTime.p95 < fastResponse):
            status = "success";
            break;
        }
    %>
      <tr class="<%- status %>">
        <td><%- appName %></td>
        <td><%- responseTime.p95 %></td>
        <td><%- responseCode.total %></td>
        <td><%- responseCode['5xx'] %></td>
        <td><%- responseAvg %>%</td>
        <td><%- avgMemory %></td>
      </tr>
    <% } %>
  </table>
  <table class="table">
    <tr>
      <td><strong>Legend</strong></td>
      <td class="success">This app is in an ideal state</td>
      <td class="">This app is doing alright</td>
      <td class="warning">This app is running slowly</td>
      <td class="danger">This app is down</td>
    </tr>
  </table>
</body>
</html>
