<!DOCTYPE html>
<html data-ng-app="fsDashboard">
<head>
  <title>FamilySearch Status</title>
  <link rel="stylesheet" href="<%- assetPath %>vendor/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="<%- assetPath %>vendor/bootstrap/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="<%- assetPath %>vendor/rickshaw.min.css">
  <link rel="stylesheet" href="<%- assetPath %>css/dashboard.css">
  <% if (desktop) { %>
  <meta name="viewport" content="width=992">
  <% } else { %>
  <meta name="viewport" content="width=device-width">
  <% } %>
</head>

<body data-ng-class="pageType">
  <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse">
        <% if (req.user) { %>
          <ul class="nav navbar-nav">
            <li><a href="<%- basePath %>" data-ng-class="{ true : 'active' }[pageType == 'index']">Home</a></li>
            <li><a href="<%- basePath %>change" data-ng-class="{ true : 'active' }[pageType == 'change_log']">Change</a></li>
            <li data-ng-show="updated.formatted"><a class="refresh" data-ng-click="refresh()"><span class="glyphicon glyphicon-refresh"></span> Last updated at <span data-ng-bind="updated.formatted"></span></a></li>
          </ul>
        <% } %>
        <ul class="nav navbar-nav navbar-right">
          <% if (req.user) { %>
            <li><a target="_self" href="<%- assetPath %>logout">Sign out</a></li>
          <% } else { %>
            <li><a target="_self" href="<%- assetPath %>login">Sign in</a></li>
          <% } %>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>
  <div class="container">

    <div data-ng-class="pageType + '_page'" data-ng-view>
    </div>

    <% if (!req.user) { %>
      <% if (req.query.signin_failed) { %>
        <div class="alert alert-danger alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <strong>Sign in Failed!</strong> You don't have authorization to view this page. You must be a member of the <strong>-eng</strong> or <strong>-webdev </strong>orgs  to view this content.
        </div>
      <% } %>

      <h2>Please sign in via Github </h2>
      <p>You must be a member of the <strong>-eng</strong> or <strong>-webdev </strong>orgs  to view this content.</p>
      <a target="_self" href="<%- assetPath %>login" class="btn btn-primary btn-lg" role="button">Sign in via Github</a>
    <% } %>

  </div><!-- /.container -->

  <% if (req.user) { %>
  <div class="switch-to-desktop">
    <h4>View this site in:</h4>
    <span data-ng-show="forceDesktop">
      <a target="_self" href="<%- assetPath %>{{ hash }}">Auto</a> | <span>Desktop</span>
    </span>
    <span data-ng-hide="forceDesktop">
      <span>Auto</span> | <a target="_self" data-ng-href="<%- assetPath %>?desktop{{ hash }}">Desktop</a>
    </span>
  </div>
  <% } %>

  <script src="http://code.jquery.com/jquery-2.0.0.min.js"></script>
  <script src="<%- assetPath %>vendor/bootstrap/js/bootstrap.min.js"></script>
  <script>
    window.assetPath = "<%- assetPath %>";
  </script>

  <% if (req.user) { %>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    <script src="<%- assetPath %>vendor/moment.min.js"></script>
    <script src="<%- assetPath %>js/routes.js"></script>
    <% if (pushState) { %>
    <script src="<%- assetPath %>js/routesHTML5.js"></script>
    <% } %>
    <script src="<%- assetPath %>js/controllers.js"></script>
    <script src="<%- assetPath %>js/directives.js"></script>
    <script src="<%- assetPath %>js/services.js"></script>
    <script src="<%- assetPath %>js/d3Service.js"></script>
    <script src="<%- assetPath %>js/d3Directives.js"></script>
    <% if (desktop) { %>
    <script>
      window.forceDesktop = true;
    </script>
    <% } %>
  <% } %>
</body>
</html>
